@import url('https://fonts.googleapis.com/css?family=Russo+One');

*{box-sizing: border-box;}

body {
  background-color: black;
  color: white;
  margin: none;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}

div.texto {
  color: white;
  padding-top: 100px;
}

header nav {
  background-color: #FFE933;
  position: relative;
  width: 100%;
  height: 60px;
}
div {
  overflow: hidden;
  list-style-type: none;
}

button.button-main {
margin-bottom: 10%;

}

section.section-whatWeDo {
padding: 70px 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-right: 20px;
padding-left: 20px;
overflow: hidden;
}

section.section-whatWeDo2 {
padding: 70px 0;
flex-wrap: wrap;
text-align: center;
padding-left: 80px;
overflow: hidden;
}

ul li.logo {
  color: black;
}

div ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
div ul.ul-logo {
  float: left;
}
div ul.ul-menu {
  float: right;
  overflow: hidden;
  padding-right: 15px;
}
div ul li {
  padding: 15px 12px 0 12px;
  float: left;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 20px;
  height: 60px;
}

div ul li.logo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 7px;
  margin-top: 8px;
}

input {
  margin: -1px;
}

input.boton {
  color: white;
  background: black;
  border-color: black;
}

input.boton:hover {
  color: #FFE933;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.topnav {
  overflow: hidden;
  background-color:#FFE933;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  color: white;
  text-decoration: none;
}
.login{
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
}

footer {
  color: black;
  background-color:#FFE933;
  text-align: center;
  padding-top: 5px;
  display: block;
}
footer img{
  width: 60px;
}

ul.footer {
  list-style-type: none;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 300px;
}

img.logo {
  width: 100px;
}

h1.headersHome {
  text-align: center;
}

li {
  list-style-type: none;
  padding-right: 1.5%;
  padding-top: 50px;
  float: left;
  text-align: center;
}

div.listaPopulares {
  text-decoration: none;
  text-emphasis-style: none;
}

a {
  color: #FFE933;
}

a:hover {
  color: white;
  text-decoration: none;
}

button.estrellita {
  text-align: center;
  color: #FFE933;
  background: none;
  margin-right: 10px;
}

button.estrellita:hover {
  color: white;
}

h1 {
  color: white;
}

h1:hover {
  color: #FFE933;
}


/* MODAL */

.card {
    background: #fff;
    border-radius: 0.2em;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 30px;
    text-align: center;
    width: calc(100% - 30px);
    margin: 15px auto 0 auto;
    max-width: 700px;
}

.card h1 {
    font-weight: 400;
    margin: 0;
}

body,
.clearfix,
.card:after {
    content: "";
    display: table;
    clear: both;
}

.modal-opener {
    position: relative;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    display: block;
    color: #FFE933;
    text-decoration: none;
    border-radius: 0.2em;
}

.modal-opener:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.2em;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.modal-opener:focus {
    outline: none;
}

.modal-opener:hover:before,
.modal-opener:focus:before {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

section.mySearch {
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 60px;
}

li.generos {
  width: 300px;
}

/* MODAL MAGIC <3 */
body.modal-active {
    perspective: 2000px;
    perspective-origin: 50% 50%;
    min-height: 100vh;
}

.modal-underlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.modal {
    position: absolute;
    top: 15px;
    width: 970px; /* Important that both width and height are even!!! */
    height: 400px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) rotateX(20deg);
    transform: translate3d(-50%, -50%, 0) rotateX(20deg);
    z-index: 11;
    opacity: 0;
    -webkit-transition: opacity 0.5s, transform 0.3s, width 0.3s;
    transition: opacity 0.5s, transform 0.3s, width 0.3s;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.modal.active {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotateX(0);
    transform: translate3d(-50%, -50%, 0) rotateX(0);
}

.modal .title {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 15px;
    background: #0c8;
    font-weight: 300;
    line-height: 110%;
}

.modal .closer {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 48px;
    width: 48px;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.modal .closer:hover {
    background: rgba(255, 255, 255, 0.3);
}

.modal .closer:before,
.modal .closer:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 30px;
    background: #fff;
    border-radius: 0.3em;
    -webkit-transform-origin: 50% 50% 50%;
    -ms-transform-origin: 50% 50% 50%;
    transform-origin: 50% 50% 50%;
    z-index: 2;
}

.modal .closer:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal .closer:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal .content {
    line-height: 1.5;
    padding: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    overflow: auto;
    height: calc(100% - 92px);
}

.modal.with-confirm .content {
    height: calc(100% - 142px);
}

.modal .confirm-wrapper {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.modal .confirm {
    position: relative;
    float: left;
    width: 50px;
    text-align: center;
    padding: 10px 15px;
    color: #0c8;
    text-decoration: none;
    margin-right: 6px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.modal .confirm:hover,
.modal .confirm:focus {
    background: rgba(0,0,0,0.08);
    outline: none;
}

@media (max-width: 992px) {
    .modal {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .modal {
        width: 300px;
    }
}
